 /* reset css */
 body {
   margin: 0;
   padding: 0;
 }

 * {
   box-sizing: border-box;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   margin: 0px;
   padding: 0px;
 }

 ul,
 ol,
 li {
   list-style: none;
   margin: 0px;
   padding: 0px;
 }

 a,
 a:hover,
 a:focus {
   text-decoration: none;
   color:#18253d; 
 }

 img {
   width: 100%;
   height: 100%;
   display: block;
 }

 .btn,
 button,
 button:focus,
 input:focus,
 textarea:focus,
 select,
 select:focus,
 a:focus {
   outline: 0px !important;
 }

 button {
   background-color: transparent;
   border: 0;
   cursor: pointer;
 }

 button[disabled] {
   pointer-events: none;
 }


 input:required {
   box-shadow: none;
 }

 input:invalid {
   box-shadow: none;
 }


 /* basic setting */
 $body-bg: #ffffff;
 $body-color: #18253d;
 $white: #fff;
 $main-blue: #001935;
 $secondary-blue: #3c88fd;
 $freedom-blue: #02b8ff;
 $dark-gray: #4a4a4a;
 $light-gray: #a7aaaf;
 $sizes: (
   25: 25%,
   50: 50%,
   75: 75%,
   100: 100%
 );


 /* 使用@each 產出css size設定 */
 $spacer: 1rem;
 $spacers: (
   0: 0,
   1: ($spacer * 0.25),
   2: ($spacer * 0.5),
   3: ($spacer * 0.75),
   4: $spacer,
   5: ($spacer * 1.25),
   6: ($spacer * 1.5),
   7: ($spacer * 1.75),
   8: ($spacer * 2)
 );

 /* 使用@each 產出css spacer設定 */
 %standard-boxshadow {
   box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
 }



 html {
   font-size: 16px;
   height: 100%;
 }

 body {
   background: $body-bg;
   color: $body-color;
   height: 100%;
  
 }

 .d-none {
   display: none;
 }

 .d-inline {
   display: inline;
 }

 .d-inline-block {
   display: inline-block;
 }

 .d-block {
   display: block;
 }

 .d-flex {
   display: flex;
 }


 .flex-column {
   flex-direction: column;
 }

 .justify-content-start {
   justify-content: flex-start;
 }

 .justify-content-end {
   justify-content: flex-end;
 }

 .justify-content-center {
   justify-content: center;
 }

 .justify-content-between {
   justify-content: space-between;
 }

 .justify-content-around {
   justify-content: space-around;
 }

 .align-content-start {
   align-content: flex-start;
 }

 .align-content-end {
   align-content: flex-end;
 }

 .align-content-center {
   align-content: center;
 }

 .align-items-start {
   align-items: flex-start;
 }

 .align-items-end {
   align-items: flex-end;
 }

 .align-items-center {
   align-items: center;
 }

 .text-center {
   text-align: center;
 }

 .text-right {
   text-align: right;
 }

 .text-left {
   text-align: left;
 }

 .cursor-pointer {
   cursor: pointer;
 }


 $sizes: (
   25: 25%,
   50: 50%,
   75: 75%,
   100: 100%
 );

 @each $prop,
 $abbrev in (width: w, height: h) {

   @each $num,
   $val in $sizes {
     .#{$abbrev}-#{$num} {
       #{$prop}: $val;
     }
   }
 }

 $spacer: 1rem;
 $spacers: (
   0: 0,
   1: ($spacer * 0.25),
   2: ($spacer * 0.5),
   3: ($spacer * 0.75),
   4: $spacer,
   5: ($spacer * 1.25),
   6: ($spacer * 1.5),
   7: ($spacer * 1.75),
   8: ($spacer * 2)
 );

 @each $prop,
 $abbrev in (margin: m, padding: p) {

   @each $num,
   $val in $spacers {
     .#{$abbrev}-#{$num} {
       #{$prop}: $val;
     }

     .#{$abbrev}t-#{$num} {
       #{$prop}-top: $val;
     }

     .#{$abbrev}r-#{$num} {
       #{$prop}-right: $val;
     }

     .#{$abbrev}b-#{$num} {
       #{$prop}-bottom: $val;
     }

     .#{$abbrev}l-#{$num} {
       #{$prop}-left: $val;
     }

     .#{$abbrev}x-#{$num} {
       #{$prop}-left: $val;
       #{$prop}-right: $val;
     }

     .#{$abbrev}y-#{$num} {
       #{$prop}-top: $val;
       #{$prop}-bottom: $val;
     }
   }
 }


 @each $prop,
 $abbrev in (margin: m, padding: p) {

   @each $num,
   $val in $spacers {
     .#{$abbrev}-#{$num} {
       #{$prop}: $val;
     }

     .#{$abbrev}t-#{$num} {
       #{$prop}-top: $val;
     }

     .#{$abbrev}r-#{$num} {
       #{$prop}-right: $val;
     }

     .#{$abbrev}b-#{$num} {
       #{$prop}-bottom: $val;
     }

     .#{$abbrev}l-#{$num} {
       #{$prop}-left: $val;
     }

     .#{$abbrev}x-#{$num} {
       #{$prop}-left: $val;
       #{$prop}-right: $val;
     }

     .#{$abbrev}y-#{$num} {
       #{$prop}-top: $val;
       #{$prop}-bottom: $val;
     }
   }
 }


 input{
  width: 90%;
  height: 35px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
 }

 select {
   display: block;
   padding: 8px;
   font-size: 12px;
   width: 80%;
   height: 33px;
   margin-top: 10px;
   margin-bottom: 10px;
   -webkit-appearance: none;
   cursor:pointer;
  &:invalid {
      color: #747474;
    }
 }

 .select-wrapper {
   position: relative;
   z-index: 0;
   &::after{
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    content: "\25BE";
    z-index: -1;
   }
 }